# **Problem Statement:**

For patient healthcare management, a physician needs predictive models to forecast gender and estimate BMI based on height and weight data for new patients along with your valuble insights by leveraging historical patient information.Also based on predicted BMI Index dsiplay the class they belong to.

The Classification is as follows:

- ***Index 0:*** Underweight
- ***Index 1:*** Normal weight
- ***Index 2:*** Overweight
- ***Index 3:*** Obesity Class 1 (Moderate)
- ***Index 4:*** Obesity Class 2 (Severe)
- ***Index 5:*** Obesity Class 3 (Very Severe or Morbid Obesity)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('bmi.csv')

In [ ]:
df.head(30)

    Gender  Height  Weight  Index
0     Male     174      96      4
1     Male     189      87      2
2   Female     185     110      4
3   Female     195     104      3
4     Male     149      61      3
5     Male     189     104      3
6     Male     147      92      5
7     Male     154     111      5
8     Male     174      90      3
9   Female     169     103      4
10    Male     195      81      2
11  Female     159      80      4
12  Female     192     101      3
13    Male     155      51      2
14    Male     191      79      2
15  Female     153     107      5
16  Female     157     110      5
17    Male     140     129      5
18    Male     144     145      5
19    Male     172     139      5
20    Male     157     110      5
21  Female     153     149      5
22  Female     169      97      4
23    Male     185     139      5
24  Female     172      67      2
25  Female     151      64      3
26    Male     190      95      3
27    Male     187      62      1
28  Female     163     159      5
29    Male     179     152      5